{% extends "base.html.twig" %}

{% block title %}Document "{{entity.title}}"{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Référence</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>{{ entity.rating }}</td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.author }}</td>
        </tr>
    </table>
    <p>&larr;&nbsp;<a href="/index.php">Retourner à la liste</a></p>
    affichez le contenu d'un document de la liste
{% endblock %}