{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block content %}
<h1>Liste des manuscrits de la bibliothèque du Patrimoine de Clermont Auvergne Métropole</h1>

<p>Page {{ page }} </p>

<p><a href="create.php">Ajouter un manuscrit</a></p>
<table>
    <tr>
        <th>Référence</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Actions</th>
    </tr>
    {% for document in list %}
    <tr>
        <td>{{ document.rating }}</td>
        <td>{{ document.title }}</td>
        <td>{{ document.author }}</td>
        <td><a href="get.php?_id={{ document._id }}">voir</a>&nbsp;/&nbsp;<a href="update.php?_id={{ document._id }}">éditer</a>&nbsp;/&nbsp;<a href="delete.php?_id={{ document._id }}">supprimer</a></td>
    </tr>
    {% endfor %}
</table>

<p><a href = "{{url_previous_page}}">Page précédente</a> - <a href="{{url_next_page}}">Page suivante</a><p>

{% endblock %}