{% extends "base.html.twig" %}

{% block title %}Modification d'un livre{% endblock %}
{% block content %}
<p>&larr;&nbsp;<a href="/index.php">Retourner à la liste</a></p>
<form action="/update.php" method="post">
        <input type="hidden" id="id" name="id" value="{{ entity._id }}">
        <br>

        <label for="title">Titre :</label>
        <input type="text" id="title" name="title" value="{{ entity.title }}" size="100">
        <br>

        <label for="author">Auteur :</label>
        <input type="text" id="author" name="author" size="50" value="{{ entity.author }}">
        <br>

        <label for="author">Siècle :</label>
        <input type="number" id="century" name="century" value="{{ entity.century }}">
        <br>

        <button type="submit">Enregistrer</button>
</form>
{% endblock %}